@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap";

:root {
  --main-bg-color: #fff;
  --button-disabled-text-color: #5e6c84;
  --gray-background-color: #e5e5e5;
  --gray--light-color: #f7f7f9;
  --tag-background-color: #ebebff;
  --button-color: #396df2;
  --normal-text-color: #344563;
  --container-bg: #e5e5e5;
  --blue-color: #344563;
  --info-color: #71869a;
  --black-color: #000;
  --background-active-button: #2230d2;
  --tag-color: #7a869a;
  --header-text-color: #172b4d;
  --secondary-text-color: #6070ff;
  --light-text-color: #7f8cff;
  --main-font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 380px;
  background-color: var(--container-bg);
}

header {
  width: 100%;
  height: 48px;
  top: 44px;
  padding: 3%;
  background-color: var(--main-bg-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.8 4%;
  margin-top: 15px;
}

.logo {
  display: flex;
  align-self: flex-end;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
  cursor: pointer;
}

.bar-toggle {
  top: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 21px;
  color: #6070ff;
}

.bar-toggle > i {
  font-size: 28px;
  transition: all ease 300ms;
  cursor: pointer;
}

.bar-toggle > i:hover {
  color: #172b4d;
}

h1 {
  font-size: 2.8em;
  margin-top: 6.5rem;
  font-weight: 700;
  line-height: 3.6rem;
  font-style: normal;
  color: #172b4d;
}

.paragraph-text {
  color: var(--normal-text-color);
  width: 100%;
  max-width: 327px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  margin-top: -20px;
}

.small-container {
  border-bottom-left-radius: 85px;
  height: 618px;
  display: flex;
  flex-direction: column;
  padding-left: 0.9rem;
  background-image: url(./images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  background-color: var(--main-bg-color);
}

.about {
  border-top-right-radius: 132px;
  margin-top: 180px;
  padding-top: 3%;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 0.9rem;
  background-color: var(--main-bg-color);
}

.social-link {
  font-weight: 500;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.small-container .social-link a:hover {
  background-color: black;
}

.social-media-link {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  padding-inline-start: 0;
  padding-bottom: 16px;
  font-size: larger;
}

/* card info */

.card-info {
  margin-top: 2rem;
  display: grid;
  grid-template: repeat(4, 25%) / auto;
  padding: 17% 5%;
  gap: 50px;
}

.personal-info {
  margin-top: 2.8rem;
}

.card-item {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 327px;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: var(--main-bg-color);
}

.title {
  margin-top: -10px;
  font-style: normal;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.frame-2 {
  display: flex;
  padding-inline-start: 0;
  flex-direction: row;
  gap: 10px;
}

.top-title {
  font-style: normal;
  color: var(--normal-text-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.info {
  font-style: normal;
  color: var(--info-color);
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--normal-text-color);
}

.skills {
  font-weight: 500;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  width: 96%;
}

.skills > span > img:hover {
  background-color: var(--light-text-color);
}

.hr-line {
  border-top: 1px solid #dfe1e6;
  margin-inline-start: 0;
  width: 325px;
}

.content > h1 {
  color: white;
}

.text-form {
  padding: 0 12px;
}

.add-skills {
  background: #f7f7f9;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 305px;
  height: 66.72px;
  border-radius: 10px;
  padding: 3% 6%;
  margin: 3% 0;
}

.tags {
  display: flex;
  padding: 0;
  gap: 12px;
  margin-bottom: 3em;
}

.img1 {
  content: url("./images/Snapshoot Portfolio.png");
}

.img2 {
  content: url("./images/Snapshoot Portfolio-2.png");
}

.img3 {
  content: url("./images/Snapshoot Portfolio-1.png");
}

.img4 {
  content: url("./images/Snapshoot Portfolio-3.png");
}

.tag-images-1 {
  display: none;
}

.more-button,
.check-button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 100px;
  height: 48px;
  padding: 13px;
  gap: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  text-align: center;
  cursor: pointer;
  margin-top: 10em;
}

.more-button-1 {
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 118px;
  height: 44px;
  padding: 13px 13px;
  gap: 10px;
  color: var(--button-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: var(--main-bg-color);
  text-align: center;
  margin-top: 10em;
}

.more-button:hover,
.check-button:hover,
.more-button-1:hover {
  background-color: #6070ff;
  color: white;
}

.about > h1 {
  margin-bottom: 0;
}

.skill-list {
  padding: 10% 0;
}

.skill-list > ul {
  padding-inline-start: 2%;
}

.language-extend {
  padding-inline-start: 0;
}

.text-skills {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.content {
  background: url("./images/Contact.png");
  text-align: center;
  color: white;
  margin-top: -718px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.skills-languages {
  padding: 0 0 2px 4px;
}
